# ĐỒ ÁN MÔN HỌC HỆ HỖ TRỢ QUYẾT ĐỊNH

## Import package và libraries

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from collections import Counter

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

from subprocess import check_output
print(check_output(["ls", "../../dss_project"]).decode("utf8"))

In [13]:
df = pd.read_csv('MFG10YearTerminationData.csv')
df

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

In [15]:
# Data types
df.dtypes

EmployeeID              int64
recorddate_key         object
birthdate_key          object
orighiredate_key       object
terminationdate_key    object
age                     int64
length_of_service       int64
city_name              object
department_name        object
job_title              object
store_name              int64
gender_short           object
gender_full            object
termreason_desc        object
termtype_desc          object
STATUS_YEAR             int64
STATUS                 object
BUSINESS_UNIT          object
dtype: object

In [18]:
df.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [19]:
df.tail()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

### Đánh giá tổng quan về dữ liệu
1. Dữ liệu là sự kết hợp của các giá trị chuỗi và số nguyên.
2. Các cột recorddate_key, birthdate_key, orighiredate_key, terminationdate_key nên đổi từ kiểu chuỗi thành kiểu date time.
3. Tuổi có thể tính bằng cách sử dụng ngày ghi(recorddate_key) và ngày sinh(birthdate_key). Vì vậy có thể xóa cột age.
4. Thời lượng dịch vụ(length_of_service) có thể được tìm thấy bằng cách sử dụng ngày ghi(recorddate_key) và ngày thuê ban đầu(orighiredate_key). Vì vậy có thể bỏ cột length_of_service.
5. Ngày chấm dứt sử dụng sẽ đặt mặc định là 1/1/1900 nếu như nhân viên vẫn còn trong hợp đồng.
6. Tên cửa hàng(store_name) hiển thị dưới dạng số, mặc dù nó là một tính năng phân loại dữ liệu(nominal). Bản thân tên cửa hàng không có khả năng là nguyên nhân dẫn đến việc thôi việc.
7. Giới tính có 2 cột là gender_short và gender_full. Có thể loại bỏ 1 trong 2 cột.
8. Các cột ngày chấm dứt, lý do chấm dứt và loại chấm dứt là kết quả của việc chấm dứt hợp đồng của nhân viên vì vậy không nên sử dụng cho việc đánh giá mô hình.
9. Cột status_year lặp lại năm trong ngày ghi(recorddate_key).
10. Cột STATUS là cột dữ liệu để dự đoán vì vậy phải được chuyển đổi từ chuỗi sang số.

In [25]:
# Mô tả thông của các dữ liệu kiểu số
df.describe(include=['int64'])

,EmployeeID,age,length_of_service,store_name,STATUS_YEAR
count,49653.000000,49653.000000,49653.000000,49653.000000,49653.000000
mean,4859.495740,42.077035,10.434596,27.297605,2010.612612
std,1826.571142,12.427257,6.325286,13.514134,2.845577
min,1318.000000,19.000000,0.000000,1.000000,2006.000000
25%,3360.000000,31.000000,5.000000,16.000000,2008.000000
50%,5031.000000,42.000000,10.000000,28.000000,2011.000000
75%,6335.000000,53.000000,15.000000,42.000000,2013.000000
max,8336.000000,65.000000,26.000000,46.000000,2015.000000

In [23]:
# Mô tả thông của các dữ liệu kiểu chuỗi
df.describe(include=['O'])

,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,city_name,department_name,job_title,gender_short,gender_full,termreason_desc,termtype_desc,STATUS,BUSINESS_UNIT
count,49653,49653,49653,49653,49653,49653,49653,49653,49653,49653,49653,49653,49653
unique,130,5342,4415,1055,40,21,47,2,2,4,3,2,2
top,12/31/2013 0:00,3/23/1973,9/25/2006,1/1/1900,Vancouver,Meats,Meat Cutter,F,Female,Not Applicable,Not Applicable,ACTIVE,STORES
freq,5215,40,50,42450,11211,10269,9984,25898,25898,48168,48168,48168,49068

In [27]:
#Cột BUSINESS_UNIT chỉ có 2 giá trị nên chúng ta có thể chuyển từ chuỗi sang kiểu Boolean.
df.BUSINESS_UNIT = df.BUSINESS_UNIT.map({'STORES':1, 'HEADOFFICE':0})

#### Các cột city_name, department_name và job_title có nhiều giá trị khác nhau. Chúng ta sẽ tiến hành phân loại cho 3 cột này.

#### Phân loại cho cột job_title

In [29]:
# Danh sách các giá trị của job_title
df.job_title.value_counts()

Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
Baker                              8096
Cashier                            6816
Shelf Stocker                      5622
Customer Service Manager            306
Processed Foods Manager             289
Bakery Manager                      285
Meats Manager                       285
Produce Manager                     278
Store Manager                       271
Recruiter                            62
HRIS Analyst                         55
Accounting Clerk                     50
Benefits Admin                       35
Labor Relations Analyst              30
Accounts Receiveable Clerk           30
Trainer                              26
Accounts Payable Clerk               25
Auditor                              20
Systems Analyst                      20
Investment Analyst                   20
Compensation Analyst                 20
Corporate Lawyer                     17
CEO                                  10
Exec Assistant, VP Stores            10
Legal Counsel                        10
VP Stores                            10
VP Human Resources                   10
VP Finance                           10
Director, Recruitment                10
Exec Assistant, Finance              10
Exec Assistant, Human Resources      10
CHief Information Officer            10
Exec Assistant, Legal Counsel        10
Director, Accounts Payable            9
Director, Accounts Receivable         9
Director, Employee Records            9
Director, HR Technology               9
Dairy Manager                         9
Director, Accounting                  9
Director, Investments                 4
Director, Labor Relations             4
Director, Compensation                4
Director, Audit                       4
Director, Training                    4
Name: job_title, dtype: int64

In [30]:
# departments, ta có thể phân loại theo các chức vụ của công ty.
# Có 4 loại chức vụ: nhân viên, người quản lý, giám đốc điều hành, hội đồng quản trị.

employee = ['Meat Cutter', 'Dairy Person', 'Produce Clerk', 'Baker', 'Cashier',
            'Shelf Stocker', 'Recruiter', 'HRIS Analyst', 'Accounting Clerk',
            'Benefits Admin', 'Labor Relations Analyst', 'Accounts Receiveable Clerk',
            'Accounts Payable Clerk', 'Auditor', 'Compensation Analyst',
            'Investment Analyst', 'Systems Analyst', 'Corporate Lawyer', 'Legal Counsel']

manager = ['Customer Service Manager', 'Processed Foods Manager', 'Meats Manager',
           'Bakery Manager', 'Produce Manager', 'Store Manager', 'Trainer', 'Dairy Manager']

executive = ['Exec Assistant, Finance', 'Exec Assistant, Legal Counsel',
             'CHief Information Officer', 'CEO', 'Exec Assistant, Human Resources',
             'Exec Assistant, VP Stores']

board = ['VP Stores', 'Director, Recruitment', 'VP Human Resources', 'VP Finance',
         'Director, Accounts Receivable', 'Director, Accounting',
         'Director, Employee Records', 'Director, Accounts Payable',
         'Director, HR Technology', 'Director, Investments',
         'Director, Labor Relations', 'Director, Audit', 'Director, Training',
         'Director, Compensation']

In [32]:
# Kiểm tra tất cả các job_title đã được phân loại chưa 
total = len(employee) + len(manager) + len(executive) + len(board)
print('Total jobs categorised:', total, '/ 47')

Total jobs categorised: 47 / 47

In [33]:
# Tạo một cột job_title mới 
df['hierarchy_job_title'] = df.job_title

# Thay thế các giá trị trong cột thành kiểu số
df.hierarchy_job_title = df.hierarchy_job_title.replace(employee, 0)
df.hierarchy_job_title = df.hierarchy_job_title.replace(manager, 1)
df.hierarchy_job_title = df.hierarchy_job_title.replace(executive, 2)
df.hierarchy_job_title = df.hierarchy_job_title.replace(board, 3)

# Kiểm tra tất cả giá trị job_title đã được thay thế chưa
df.hierarchy_job_title.value_counts()

0    47739
1     1749
3      105
2       60
Name: hierarchy_job_title, dtype: int64

#### Phân loại cho cột department_name

In [37]:
# Danh sách các giá trị của department_name
df.department_name.value_counts()

Meats                     10269
Dairy                      8599
Produce                    8515
Bakery                     8381
Customer Service           7122
Processed Foods            5911
Store Management            271
Executive                   100
Recruitment                  72
HR Technology                64
Accounting                   59
Employee Records             44
Accounts Receiveable         39
Labor Relations              34
Accounts Payable             34
Training                     30
Compensation                 24
Audit                        24
Investment                   24
Information Technology       20
Legal                        17
Name: department_name, dtype: int64

In [38]:
# Có tổng cộng 21 phòng ban, các phòng ban có thể phân loại tùy theo việc họ phục vụ khách hàng hay công việc kinh doanh.
serve_cus = ['Meats', 'Dairy', 'Produce', 'Bakery', 'Customer Service', 'Processed Foods']

serve_bus = ['Store Management', 'Executive', 'Recruitment', 'HR Technology',
             'Accounting', 'Employee Records', 'Accounts Receiveable',
             'Accounts Payable', 'Labor Relations', 'Training', 'Compensation',
             'Audit', 'Investment', 'Information Technology', 'Legal']

In [41]:
# Kiểm tra tất cả các department_name đã được phân loại chưa 
total = len(serve_cus) + len(serve_bus) 
print('Total departments categorised:', total, '/ 21')

Total departments categorised: 21 / 21

In [44]:
# Tạo một cột department_name mới 
df['hierarchy_department_name'] = df.department_name

# Thay thế các giá trị trong cột thành đối tượng Service của phòng ban
df.hierarchy_department_name = df.hierarchy_department_name.replace(serve_cus, 'Customer')
df.hierarchy_department_name = df.hierarchy_department_name.replace(serve_bus, 'Business')

# Kiểm tra tất cả giá trị department_name đã được thay thế chưa
df.hierarchy_department_name.value_counts()

Customer    48797
Business      856
Name: hierarchy_department_name, dtype: int64

#### Phân loại cho cột city_name

In [45]:
# Danh sách các giá trị của city_name
df.city_name.value_counts()

Vancouver           11211
Victoria             4885
Nanaimo              3876
New Westminster      3211
Kelowna              2513
Burnaby              2067
Kamloops             2061
Prince George        2048
Cranbrook            1785
Surrey               1560
Richmond             1401
Terrace              1228
Chilliwack           1167
Trail                 925
Langley               901
Vernon                898
Squamish              806
Quesnel               703
Abbotsford            681
North Vancouver       648
Fort St John          621
Williams Lake         617
West Vancouver        613
Port Coquitlam        545
Aldergrove            520
Fort Nelson           322
Nelson                317
New Westminister      254
Grand Forks           236
White Rock            231
Haney                 182
Princeton             136
Dawson Creek          129
Bella Bella           126
Ocean Falls            65
Pitt Meadows           57
Cortes Island          43
Valemount              37
Dease Lake             18
Blue River              9
Name: city_name, dtype: int64

In [46]:
# Ta có thể thấy tất các thành phố đều là của nước Canada
# Ta có thể phân loại các thành phố theo số lượng dân cư
# Dựa vào số liệu thống kê dân số Canada theo thành phố vào năm 2011 để gần với lần cập nhật gần nhất của dataset (2015)
# Link trang thống kê: https://www12.statcan.gc.ca/census-recensement/2011/dp-pd/hlt-fst/pd-pl/Table-Tableau.cfm?LANG=Eng&T=205&SR=1&S=3&O=D&RPP=50
city_population_2011 = { 'Vancouver':2313328,
                         'Victoria':344615,
                         'Nanaimo':146574,
                         'New Westminster':65976,
                         'Kelowna':179839,
                         'Burnaby':223218,
                         'Kamloops':85678,
                         'Prince George':71974,
                         'Cranbrook':19319,
                         'Surrey':468251,
                         'Richmond':190473,
                         'Terrace':11486,
                         'Chilliwack':77936,
                         'Trail':7681,
                         'Langley':25081,
                         'Vernon':38180,
                         'Squamish':17479,
                         'Quesnel':10007,
                         'Abbotsford':133497,
                         'North Vancouver':48196,
                         'Fort St John':18609,
                         'Williams Lake':10832,
                         'West Vancouver':42694,
                         'Port Coquitlam':55985,
                         'Aldergrove':12083,
                         'Fort Nelson':3561,
                         'Nelson':10230,
                         'New Westminister':65976,
                         'Grand Forks':3985,
                         'White Rock':19339,
                         'Haney':76052,
                         'Princeton':2724,
                         'Dawson Creek':11583,
                         'Bella Bella':1095,
                         'Ocean Falls':129,
                         'Pitt Meadows':17736,
                         'Cortes Island':1007,
                         'Valemount':1020,
                         'Dease Lake':58,
                         'Blue River':215}